#brofix-manage-exclusions-table {
    table-layout: fixed;
}
#brofix-manage-exclusions-table td {
    border-left: 1px solid white;
    word-break: break-word;
    padding:10px;
}

/** manage exclusions tab */
#exportCsvButton {
    float: right;
}

#brofix-manage-exclusions-table tr td label input.selectedExcludeLink {
    position: static;
}
