/* - - - - - - - - - - - - - - - - - - - - -
Info > Brofix (Broken Link Fixer)
- - - - - - - - - - - - - - - - - - - - - */
.brofix-function-menu {
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 0;
    float: left;
}

.brofix-function-menu input {
    margin-left: 5px;
}

.brofix-function-menu div {
    margin-top: 11px;
}

.brofix-check-options {
    float: left;
    display: block;
    margin-top: 0;
    width: 225px;
}

.brofix-check-options div {
    float: left;
}

.brofix-button {
    clear: both;
}

div.brofix-brokenlink-list-form select.form-control {
    margin-bottom: 5px;
}

#brofix-statistics-table {
    width: 230px;
    margin-top: 5px;
    margin-bottom: 14px;
}

#brofix-statistics-table th td.number {
    padding-top: 4px;
}

#brofix-statistics-table td {
    border-left: 1px solid white;
    vertical-align: middle;
}

#brofix-statistics-table td:first-child {
    border-left: none;
}

#brofix-statistics-table .number {
    padding-right: 6px;
    text-align: center;
}

#brofix-statistics-table span {
    vertical-align: middle;
}

#brofix-broken-links-table {
    table-layout: fixed;
}

#brofix-broken-links-table td {
    border-left: 1px solid white;
    word-break: break-word;
    padding:10px;
}

#brofix-broken-links-table td span.valid {
    color: green;
}

#brofix-broken-links-table td span.error {
    color: red;
}

#brofix-broken-links-table td:first-child {
    border-left: none;
}

#brofix-broken-links-table td span.freshness_stale {
    color: white;
    background-color: #c83c3c;
}

#brofix-broken-links-table td.table-column-divider-end,
#brofix-broken-links-table th.table-column-divider-end
{
    border-right: 6px white solid;
}

/** --- for small screens --- */

@media screen and (max-width:920px) {
    #brofix-broken-links-table {
        word-wrap:break-word;
    }
    #brofix-broken-links-table thead {
        display:none
    }
    #brofix-broken-links-table td {
        display:block;
        float:left;/* ie9 and under hack */
        width:100%;
        clear:both;
        background:#f5f5f5;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    }
    #brofix-broken-links-table tbody, #brofix-broken-links-table tr {
        display:block
    }
    #brofix-broken-links-table td:before {
        content:attr(data-th);
        display:block;
        font-weight:bold;
        margin:0 0 2px;
        color:#000;
    }
    #brofix-broken-links-table tbody tr {
        float:left;width:100%;
        padding: 10px;
        margin-bottom:20px;
        border:2px solid #ccc;
    }

    /** remove column dividers */
    #brofix-broken-links-table td.table-column-divider-end,
    #brofix-broken-links-table th.table-column-divider-end
    {
        border-right: none;
    }
}

/** --- for very small screens --- */

@media screen and (max-width:601px) {
    /** remove optional columns */
    #brofix-broken-links-table tbody tr td.mobile-optional {
        display: none;
    }
}
