<f:layout name="SystemEmail" />
<f:section name="Title"><f:translate key="LLL:EXT:brofix/Resources/Private/Language/locallang.xlf:email.brokenlinksreport.title" languageKey="{language}">Broken Links Report</f:translate></f:section>
<f:section name="Subject"><f:if condition="{subject}"><f:then>{subject}</f:then><f:else><f:translate key="LLL:EXT:brofix/Resources/Private/Language/locallang.xlf:email.brokenlinksreport.header" languageKey="{language}">Broken links for page </f:translate></f:else></f:if> "{stats.pageTitle}" [{pageId}]: {stats.countBrokenLinks}</f:section>
<f:section name="Main">
	<f:translate key="LLL:EXT:brofix/Resources/Private/Language/locallang.xlf:email.brokenlinksreport.header" languageKey="{language}">Broken links for page </f:translate> "{stats.pageTitle}" [{pageId}] <br/><br/>

    <f:render partial="BrokenLinksGraphics" arguments="{stats: stats, language: language}" />
    <f:render partial="BrokenLinksStatsTable" arguments="{depth: depth, stats: stats, language: language}" />
</f:section>
