<style type="text/css">

    table.BrokenLinkStats,
    table.BrokenLinkStats th,
    table.BrokenLinkStats td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }

	table.BrokenLinkStats th {
		text-align: left;
	}

	table.BrokenLinkStats td {
		text-align: right;
	}

    table.BrokenLinkStats tr.tableHeader {
        background-color: darkgrey;
        color: white;
    }
</style>

<table class="BrokenLinkStats">


    <tr class="tableHeader">
        <th colspan="2">Broken links</th>
    </tr>
	<tr>
		<th>Percent broken links</th>
		<td><f:format.number decimals="2" decimalSeparator=".">{stats.percentBrokenLinks}</f:format.number>%</td>
	</tr>
    <tr>
        <th>Broken links</th>
        <td>{stats.countBrokenLinks}</td>
    </tr>
    <tr>
        <th>Total links checked</th>
        <td>{stats.countLinksChecked}</td>
    </tr>

	<tr class="tableHeader">
		<th colspan="2">Pages checked</th>
	</tr>
	<tr>
		<th>Depth</th>
		<td>
			<f:if condition="{depth} == 999">
				<f:then>infinite</f:then>
				<f:else>{depth}</f:else>
			</f:if>
		</td>
	</tr>
	<tr>
		<th>Number of pages</th>
		<td>{stats.countPages}</td>
	</tr>


    <tr class="tableHeader">
        <th colspan="2">Excluded links</th>
    </tr>
    <tr>
        <th>Links not checked</th>
        <td>{stats.countExcludedLinks}</td>
    </tr>
    <tr>
        <th>Percent links not checked</th>
        <td><f:format.number decimals="2" decimalSeparator=".">{stats.percentExcludedLinks}</f:format.number>%</td>
    </tr>
</table>
