<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<p>
<form method="post" id="brofix-list-form" class="brofix-list-form">
	<div class="row row-cols-auto align-items-end g-3 mb-4">
		<input type="hidden" name="currentPage" value="{currentPage}"/>
		<input type="hidden" name="id" value="{currentPage}"/>
		<input type="hidden" name="orderBy" value="{orderBy}"/>
		<input type="hidden" name="paginationPage" value="{paginationPage}"/>

		<div class="col">
			<label for="brofix-list-select-howtotraverse">
				<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:report.form.howtotraverse" extensionName="Brofix">Pages</f:translate>:
			</label>
			<select id="brofix-list-select-howtotraverse" name="howtotraverse" class="form-control tceforms-select">
				<f:if condition="{isAdmin}">
					<f:then>
						<option value="all" {f:if(condition:'{filter.howtotraverse} == all', then: 'selected')}>
							<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.linktype.all">All</f:translate>
						</option>
					</f:then>
					<f:else>
						<option value="all" {f:if(condition:'{filter.howtotraverse} == allmountpoints', then: 'selected')}>
							<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.linktype.allmountpoints">All mountpoings</f:translate>
						</option>
					</f:else>
				</f:if>
				<option value="pages" {f:if(condition:'{filter.howtotraverse} == pages', then: 'selected')}>
					<f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_db_new_content_el.xlf:menu_subpages.title">Subpages</f:translate>
				</option>
			</select>
		</div>


		<f:if condition="{filter.howtotraverse} == 'pages' || {filter.howtotraverse} == 'allmountpoints'">
			<div class="col">
				<label for="brofix-list-select-pagedepth">
					<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:report.func.title" extensionName="Brofix"/>:
				</label>
				<select id="brofix-list-select-pagedepth" name="depth" class="form-control tceforms-select">
					<option value="0" {f:if(condition:'{depth} == 0', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_0"/>
					</option>
					<option value="1" {f:if(condition:'{depth} == 1', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_1"/>
					</option>
					<option value="2" {f:if(condition:'{depth} == 2', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_2"/>
					</option>
					<option value="3" {f:if(condition:'{depth} == 3', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_3"/>
					</option>
					<option value="4" {f:if(condition:'{depth} == 4', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_4"/>
					</option>
					<option value="999" {f:if(condition:'{depth} == 999', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_infi"/>
					</option>
				</select>
			</div>
		</f:if>
		<div class="col">
			<label for="viewMode"><f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.view"/>:</label>
			<select id="viewMode" name="viewMode" class="form-control tceforms-select view_mode">
				<option value="view_table_complex" {f:if(condition: "{viewMode} == 'view_table_complex'", then: 'selected')}>
				<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.form.table.extended">|||||</f:translate>
				</option>
				<option value="view_table_min" {f:if(condition: "{viewMode} == 'view_table_min'", then: 'selected')}>
				<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.form.table.simple">|||</f:translate>
				</option>
			</select>
		</div>

		<div class="col">
			<label for="uid_searchFilter"><f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.tableHead.element"/>:</label>
			<input type="search" class="form-control t3js-clearable hasDefaultValue slug-impact t3js-charcounter-initialized" name="uid_searchFilter" placeholder="{f:translate(key: 'LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.uid')}" id="uid_searchFilter" value="{filter.uidFilter}"/>
		</div>
		<f:if condition="{linktypes}">
			<div class="col">
				<label for="linktype_searchFilter"><f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:columnHeader.link_type"/>:</label>
				<select id="linktype_searchFilter" name="linktype_searchFilter" class="form-control tceforms-select">
					<f:for each="{linktypes}" as="linktype">
						<option value="{linktype}" {f:if(condition:'{linktype} == {filter.linktypeFilter}', then: 'selected')}>
						<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.linktype.{linktype}">{linktype}</f:translate>
						</option>
					</f:for>
				</select>
			</div>
		</f:if>

		<div class="col">
			<label for="url_searchFilter"><f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.tableHead.url"/>:</label>
			<input type="search" size="30" class="form-control t3js-clearable hasDefaultValue slug-impact t3js-charcounter-initialized"
				   name="url_searchFilter"
				   placeholder="{f:translate(key: 'LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url.placeholder')}" id="url_searchFilter" value="{filter.urlFilter}"/>
		</div>
		<div class="col">
			<select id="url_match_searchFilter" name="url_match_searchFilter" class="form-control tceforms-select">
				<option value="partial" {f:if(condition:'{filter.urlFilterMatch} == partial', then: 'selected')}>
				<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url.match.partial">partial match</f:translate>
				</option>
				<option value="exact" {f:if(condition:'{filter.urlFilterMatch} == exact', then: 'selected')}>
				<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url.match.exact">exact match</f:translate>
				</option>
				<option value="partialnot" {f:if(condition:'{filter.urlFilterMatch} == partialnot', then: 'selected')}>
				<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url.match.partialnot">no partial match</f:translate>
				</option>
				<option value="exactnot" {f:if(condition:'{filter.urlFilterMatch} == exactnot', then: 'selected')}>
				<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url.match.exactnot">no exact match</f:translate>
				</option>
			</select>
		</div>

		<div class="col">
			<label for="brofix-list-select-check_status">
				<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.check_status.label" extensionName="Brofix"/>:
			</label>
			<select id="brofix-list-select-check_status" name="check_status" class="form-control tceforms-select">
				<option value="-1" {f:if(condition:'{filter.checkStatusFilter} == -1', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.check_status.all"/>
				</option>
				<option value="1" {f:if(condition:'{filter.checkStatusFilter} == 1', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.check_status.1"/>
				</option>
				<option value="2" {f:if(condition:'{filter.checkStatusFilter} == 2', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.check_status.2"/>
				</option>
				<option value="3" {f:if(condition:'{filter.checkStatusFilter} == 3', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.check_status.3"/>
				</option>
				<option value="4" {f:if(condition:'{filter.checkStatusFilter} == 4', then: 'selected')}>
				<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.check_status.4"/>
				</option>
				<option value="5" {f:if(condition:'{filter.checkStatusFilter} == 5', then: 'selected')}>
					<f:translate extensionName="Brofix" key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.check_status.5"/>
				</option>
				<f:for each="{checkStatusOptions}" as="checkStatusOption">
					<option value="{key}">{checkStatusOption}</option>
				</f:for>
			</select>
		</div>
		<f:if condition="{filter.showUseCache}">
			<div class="col">
				<label for="brofix-list-useCache">
					<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.useCache.label" extensionName="Brofix">Use pagetree cache</f:translate>:
				</label>
				<f:comment>checkboxes only pass with the form if they are checked, so we use select here.</f:comment>
				<select id="brofix-list-useCache" name="useCache" class="form-control tceforms-select">
					<option value="0" {f:if(condition:'{filter.useCache} == 0', then: 'selected')}>
						<f:translate extensionName="Core" key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:disable">off</f:translate>
					</option>
					<option value="1" {f:if(condition:'{filter.useCache} == 1', then: 'selected')}>
						<f:translate extensionName="Core" key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:enable">on</f:translate>
					</option>
				</select>
			</div>
		</f:if>



	</div>
	<div class="form-group">
		<f:comment>
		<input type="submit" class="btn btn-default t3js-update-button" name="refreshLinkList" id="refreshLinkList"
			   value="{f:translate(key: 'label_refresh', extensionName: 'Brofix')}"
			   data-notification-message="{f:translate(key: 'label_refresh-link-list', extensionName: 'Brofix')}"/>
		</f:comment>
		<button type="submit" class="btn btn-default t3js-update-button" name="action" id="refreshLinkList"
			   value="report"
				data-notification-message="{f:translate(key: 'label_refresh-link-list', extensionName: 'Brofix')}">
			<f:translate key="label_refresh" extensionName="Brofix"></f:translate>
		</button>

		<f:if condition="{filter.filter}">
			<button type="button" class="btn btn-primary" id="brofix-reset-filter">
				<core:icon identifier="actions-close" size="small"/>
				<f:translate extensionName="Brofix" key="button-remove-all-filter">Remove all filter</f:translate>
			</button>
		</f:if>

		<f:if condition="{showRecheckButton}">
			<button type="submit" class="btn btn-default t3js-update-button" name="action" id="updateLinkList"
				   value="checklinks"
				   data-notification-message="{f:translate(key: 'list.action.checkLinks', extensionName: 'Brofix')}">
				<core:icon identifier="actions-synchronize" size="small"/>
				<f:translate key="list.button.checkLinks" extensionName="Brofix"/>
			</button>
		</f:if>
		<f:if condition="{docsurl}">
			<f:link.external class="btn btn-default" uri="{docsurl}" target="_blank">
				<core:icon identifier="actions-document-info" size="small"/>
			</f:link.external>
		</f:if>
	</div>
</form>
</p>
</html>
