<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{pagination.lastPageNumber} > 1">
	<nav class="pagination-wrap">
		<ul class="pagination pagination-block">
			<f:if condition="{pagination.previousPageNumber}">
				<f:then>
					<li class="page-item">
						<span class="page-link">
							<a href="{f:be.uri(route: route, parameters: '{currentPage: currentPage, id: currentPage, orderBy: orderBy, depth: depth, paginationPage: 1}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.first')}">
								<core:icon identifier="actions-view-paging-first" />
							</a>
						</span>
					</li>
					<li class="page-item">
						<span class="page-link">
							<a href="{f:be.uri(route:route, parameters: '{currentPage: currentPage, id: currentPage, orderBy: orderBy, depth: depth, paginationPage: pagination.previousPageNumber}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.previous')}">
								<core:icon identifier="actions-view-paging-previous" />
							</a>
						</span>
					</li>
				</f:then>
				<f:else>
					<li class="disabled page-item">
							<span class="page-link">
								<core:icon identifier="empty-empty" />
							</span>
					</li>
					<li class="disabled page-item">
							<span class="page-link">
								<core:icon identifier="empty-empty" />
							</span>
					</li>
				</f:else>
			</f:if>
			<li class="page-item">
					<span class="page-link">
						{pagination.startRecordNumber} - {pagination.endRecordNumber}
					</span>
			</li>
			<f:if condition="{pagination.nextPageNumber}">
				<f:then>
					<li class="page-item">
						<span class="page-link">
							<a href="{f:be.uri(route:route, parameters: '{currentPage: currentPage, id: currentPage, orderBy: orderBy, depth: depth, paginationPage: pagination.nextPageNumber}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.next')}">
								<core:icon identifier="actions-view-paging-next" />
							</a>
						</span>
					</li>
					<li class="page-item">
						<span class="page-link">
							<a href="{f:be.uri(route:route, parameters: '{currentPage: currentPage, id: currentPage, orderBy: orderBy, depth: depth, paginationPage: pagination.lastPageNumber}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.last')}">
								<core:icon identifier="actions-view-paging-last" />
							</a>
						</span>
					</li>
				</f:then>
				<f:else>
					<li class="disabled page-item">
							<span class="page-link">
								<core:icon identifier="empty-empty" />
							</span>
					</li>
					<li class="disabled page-item">
							<span class="page-link">
								<core:icon identifier="empty-empty" />
							</span>
					</li>
				</f:else>
			</f:if>
		</ul>
	</nav>
</f:if>
</html>
