/*!
 * This file is part of the TYPO3 CMS project.
 * 
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 * 
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 * 
 * The TYPO3 project - inspiring people to share!
 */
.brofix-function-menu{margin-bottom:25px;margin-left:25px;margin-top:0;float:left}.brofix-function-menu input{margin-left:5px}.brofix-function-menu div{margin-top:11px}.brofix-check-options{float:left;display:block;margin-top:0;width:225px}.brofix-check-options div{float:left}.brofix-button{clear:both}#brofix-statistics-table{width:230px;margin-top:5px;margin-bottom:14px}#brofix-statistics-table th td.number{padding-top:4px}#brofix-statistics-table td{border-left:1px solid #fff;vertical-align:middle}#brofix-statistics-table td:first-child{border-left:none}#brofix-statistics-table .number{padding-right:6px;text-align:center}#brofix-statistics-table span{vertical-align:middle}#brofix-broken-links-table{table-layout:fixed}#brofix-broken-links-table td{border-left:1px solid #fff;word-break:break-word}#brofix-broken-links-table td span.valid{color:green}#brofix-broken-links-table td span.error{color:red}#brofix-broken-links-table td:first-child{border-left:none}#brofix-broken-links-table a{text-decoration: underline;}#brofix-broken-links-table td span.freshness_fresh { color: white; background-color: #79a548;}#brofix-broken-links-table td span.freshness_stale {color: white;background-color: #c83c3c;}
