<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:comment>
	Broken link list
	source (v12): https://docs.typo3.org/m/typo3/reference-coreapi/12.4/en-us/ExtensionArchitecture/HowTo/BackendModule/CreateModule.html
</f:comment>
<f:layout name="Module" />
<f:section name="Content">
	<h1>
		<f:translate key="list.header" extensionName="Brofix">Broken links</f:translate>
		<f:if condition="{pageTitle}">
			&quot;{title}&quot;
		</f:if>
		({totalCount})
	</h1>

	<f:comment>========= form ============</f:comment>
	<f:render partial="BrokenLinksForm" arguments="{_all}"/>

	<f:flashMessages queueIdentifier="brofix"/>

	<f:comment>========== list ===========</f:comment>
	<div>
		<f:render partial="BrokenLinkList" arguments="{_all}"/>
	</div>

</f:section>
</html>
