{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="TabContent"/>
<f:section name="header">
	<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:excludeLinksTitle"/>
	<f:if condition="{hasPermissions}">
		<f:then>
    	 ({totalCount})
		</f:then>
	</f:if>
</f:section>

<f:section name="form">
    <row class="brofix-brokenlink-list-form">
        <input type="hidden" name="currentPage" value="{currentPage}"/>
        <input type="hidden" name="id" value="{currentPage}"/>
        <input type="hidden" name="orderBy" value="{orderBy}"/>
        <input type="hidden" name="paginationPage" value="{paginationPage}"/>
        <br/>

        <div class="form-control-clearable">
			<label for="excludeUrl_filter"><f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url"/>:</label>
			<input type="text" min="0"
				   id="excludeUrl_filter"
                   class="form-control t3js-clearable hasDefaultValue slug-impact t3js-charcounter-initialized"
                   name="excludeUrl_filter" placeholder="{f:translate(key: 'LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url')}" id="excludeUrl_filter"
                   value="{f:if(condition: excludeUrl_filter, then: excludeUrl_filter, else: '')}"/>
            <button type="button" tabindex="-1" class="close" id="excludeUrlButton" style="visibility: visible;">
                <core:icon identifier="actions-close" size="small"/>
            </button>
        </div>
        <input type="hidden" name="data[pages][14287][title]" value="BrokenLinksTest">
        <br/>
        <br/>
        <select id="brofix-list-select-pagedepth" name="excludeLinkType_filter" class="form-control input-sm">
            <option selected="selected" value="">
                <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:form.selectLinkType"/>
            </option>
            <f:if condition="{excludeLinkType_filter} == 'external'">
                <f:then>
                    <option value="external" selected>
                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:form.external"/>
                    </option>
                </f:then>
                <f:else>
                    <option value="external">
                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:form.external"/>

                    </option>
                </f:else>
            </f:if>

            <f:if condition="{excludeLinkType_filter} == 'internal'">
                <f:then>
                    <option value="internal" selected>
                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:form.internal"/>

                    </option>
                </f:then>
                <f:else>
                    <option value="internal">
                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:form.internal"/>

                    </option>
                </f:else>
            </f:if>
        </select>
        <select id="brofix-list-select-pagedepths" name="excludeReason_filter" class="form-control input-sm">
            <option selected="selected" value="">
                <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:form.selectReason"/>
            </option>

            <f:if condition="{excludeReason_filter} == '0'">
                <f:then>
                    <option value="0" selected>
                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:records.reason1"/>
                    </option>
                </f:then>
                <f:else>
                    <option value="0">
                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:records.reason1"/>
                    </option>
                </f:else>
            </f:if>
            <f:if condition="{excludeReason_filter} == '1'">
                <f:then>
                    <option value="1" selected>
                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:records.reason2"/>
                    </option>
                </f:then>
                <f:else>
                    <option value="1">
                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:records.reason2"/>
                    </option>
                </f:else>
            </f:if>
        </select>

        <br/>
        <br/>
        <row>

            <button type="submit" class="btn btn-default" name="Search" id="refreshLinkList">
                <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:search"/>
            </button>
        </row>

        <f:if condition="{docsurl}">
            <f:link.external class="btn btn-default" uri="{docsurl}" target="_blank">
                <core:icon identifier="actions-document-info" size="small"/>
            </f:link.external>
        </f:if>
    </row>
</f:section>

<f:section name="Main">
    <br/><br/>
    <f:flashMessages queueIdentifier="brofix"/>
    <f:if condition="{brokenLinks -> f:count()}">
        <f:then>
            <table class="table table-striped table-hover" id="brofix-manage-exclusions-table">
                <thead>
                <tr>
					<f:if condition="{hasPermission}">
						<f:then>
							<th colspan="1"></th>
						</f:then>
					</f:if>
                    <th colspan="2">
                        <f:format.raw>{tableHeader.page.header}</f:format.raw>
                        <f:if condition="{tableHeader.page.icon}">
                            <core:icon identifier="{tableHeader.page.icon}"/>
                        </f:if>
                    </th>
                    <th colspan="6">
                        <f:format.raw>{tableHeader.linktarget.header}</f:format.raw>
                        <f:if condition="{tableHeader.linktarget.icon}">
                            <core:icon identifier="{tableHeader.linktarget.icon}"/>
                        </f:if>
                    </th>
                    <th colspan="2">
                        <f:format.raw>{tableHeader.link_type.header}</f:format.raw>
                        <f:if condition="{tableHeader.link_type.icon}">
                            <core:icon identifier="{tableHeader.link_type.icon}"/>
                        </f:if>
                    </th>
                    <th colspan="2">
                        <f:format.raw>{tableHeader.crdate.header}</f:format.raw>
                        <f:if condition="{tableHeader.crdate.icon}">
                            <core:icon identifier="{tableHeader.crdate.icon}"/>
                        </f:if>
                    </th>
                    <th colspan="2">
                        <f:format.raw>{tableHeader.reason.header}</f:format.raw>
                        <f:if condition="{tableHeader.reason.icon}">
                            <core:icon identifier="{tableHeader.reason.icon}"/>
                        </f:if>
                    </th>
                </tr>
                </thead>
                <tbody class="check">

				<f:if condition="{hasPermission}">
					<f:then>
						<label class="btn btn-default btn-checkbox "><input type="checkbox" name="selectedExcludeLink" value="1" class="selectAllLinks">
							<span class="t3-icon fa ">
							</span>
							<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:selectAndDeselect"/>
						</label>
						<button class="btn btn-default" style="margin-left: 10px" id="deleteSelectedLinks">
							<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:deleteLinks"/>
						</button>
					</f:then>
				</f:if>

                <a class="btn btn-default" href="{f:be.uri(route: 'export-excluded_links')}" id="exportCsvButton">
                    <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:exportCsv"/>
                </a>
                <br/>
                <br/>
                <f:for each="{brokenLinks}" as="item">
                    <tr>
						<f:if condition="{hasPermission}">
							<f:then>
								<td colspan="1">
									<label class="btn btn-default btn-checkbox ">
										<input type="checkbox" name="selectedExcludeLink"  value="{item.uid}"  class="selectedExcludeLink">
									</label>
								</td>
							</f:then>
						</f:if>
						<td colspan="2">
                            {item.page}
                        </td>
                        <td colspan="6">
                            <a href="{item.linktarget_url}" title="{item.link_title}" target="_blank"
                               rel="noreferrer">{item.linktarget_text}
                            </a>
                        </td>
                        <td colspan="2">
                            {item.link_type}
                        </td>
                        <td colspan="2">
                            {item.exclude_date}
                        </td>
                        <td colspan="2">
                            <f:if condition="{item.reason} == 0">
                                <f:then>
                                    <span >
                                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:records.reason1"/>
                                    </span>
                                </f:then>
                                <f:else>
                                    <span>
                                        <f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:records.reason2"/>
                                    </span>
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
            <f:render partial="Pagination"
                      arguments="{pagination: pagination, currentPage: currentPage, depth: depth, orderBy: orderBy}"/>
        </f:then>
    </f:if>
</f:section>





