<f:layout name="TabContent"/>
<f:section name="header">
	<f:translate key="list.header" extensionName="Brofix">Broken links</f:translate>
	<f:if condition="{pageTitle}">
		&quot;{title}&quot;
	</f:if>
	({totalCount})
</f:section>

<f:section name="form">

	<row class="brofix-brokenlink-list-form">

		<form id="brofix-list-form">
			<input type="hidden" name="currentPage" value="{currentPage}"/>
			<input type="hidden" name="id" value="{currentPage}"/>
			<input type="hidden" name="orderBy" value="{orderBy}"/>
			<input type="hidden" name="paginationPage" value="{paginationPage}"/>
			<br/>
			<div class="form-group">
				<label for="brofix-list-select-pagedepth">
					<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:report.func.title"/>:
				</label>
				<select id="brofix-list-select-pagedepth" name="depth" class="form-control tceforms-select">
					<option value="0" {f:if(condition:'{depth} == 0', then: 'selected')}>
					<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_0"/>
					</option>
					<option value="1" {f:if(condition:'{depth} == 1', then: 'selected')}>
					<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_1"/>
					</option>
					<option value="2" {f:if(condition:'{depth} == 2', then: 'selected')}>
					<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_2"/>
					</option>
					<option value="3" {f:if(condition:'{depth} == 3', then: 'selected')}>
					<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_3"/>
					</option>
					<option value="4" {f:if(condition:'{depth} == 4', then: 'selected')}>
					<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_4"/>
					</option>
					<option value="999" {f:if(condition:'{depth} == 999', then: 'selected')}>
					<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_infi"/>
					</option>
				</select>
			</div>
			<br/>
			<row>
				<div class="form-group">
					<label for="uid_searchFilter">
						<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.tableHead.element"/>&nbsp;
						<f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.uid"/>:</label>
					<div class="form-control-clearable">
						<input type="number" min="0" class="form-control t3js-clearable hasDefaultValue slug-impact t3js-charcounter-initialized" name="uid_searchFilter" placeholder="{f:translate(key: 'LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.uid')}" id="uid_searchFilter" value="{f:if(condition: uid_filter, then: uid_filter, else: '')}"/>
						<button type="button" tabindex="-1" class="close" id="uidButton" style="visibility: visible;">
							<core:icon identifier="actions-close" size="small" />
						</button>
					</div>
				</div>

				<div class="form-group">
					<label for="url_searchFilter"><f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url"/>:</label>
					<div class="form-control-clearable">
						<input type="text" class="form-control t3js-clearable hasDefaultValue slug-impact t3js-charcounter-initialized" name="url_searchFilter" placeholder="{f:translate(key: 'LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.url')}" id="url_searchFilter" value="{f:if(condition: url_filter, then: url_filter, else: '')}"/>
						<button type="button" tabindex="-1" class="close" id="urlButton" style="visibility: visible;">
							<core:icon identifier="actions-close" size="small" />
						</button>
					</div>
				</div>

				<f:comment>
				<div class="form-group">
					<label for="title_searchFilter"><f:translate key="LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.title"/>:</label>
					<div class="form-control-clearable">
						<input type="text" class="form-control t3js-clearable hasDefaultValue slug-impact t3js-charcounter-initialized" name="title_searchFilter" placeholder="{f:translate(key: 'LLL:EXT:brofix/Resources/Private/Language/Module/locallang.xlf:list.filter.title')}" id="title_searchFilter" value="{f:if(condition: title_filter , then: title_filter, else: '')}"/>
						<button type="button" tabindex="-1" class="close" id="titleButton" style="visibility: visible;">
							<core:icon identifier="actions-close" size="small"/>
						</button>
					</div>
				</div>
				</f:comment>

			</row>
			<br/>
			<br/>

			<input type="submit" class="btn btn-default t3js-update-button" name="refreshLinkList" id="refreshLinkList"
				   value="{f:translate(key: 'label_refresh', extensionName: 'Brofix')}"
				   data-notification-message="{f:translate(key: 'label_refresh-link-list', extensionName: 'Brofix')}"/>

			<f:if condition="{showRecheckButton}">
				<input type="submit" class="btn btn-default t3js-update-button" name="updateLinkList" id="updateLinkList"
					   value="{f:translate(key: 'list.button.checkLinks', extensionName: 'Brofix')}"
					   data-notification-message="{f:translate(key: 'list.action.checkLinks', extensionName: 'Brofix')}"/>
			</f:if>
			<!--<input type="reset" class="btn btn-default t3js-update-button" name="refreshLinkList"
				   value="Reset Filters"/>-->
			<f:if condition="{docsurl}">
				<f:link.external class="btn btn-default" uri="{docsurl}" target="_blank">
					<core:icon identifier="actions-document-info" size="small"/>
				</f:link.external>
			</f:if>

		</form>
	</row>
</f:section>

<f:section name="Main">
	<f:flashMessages queueIdentifier="brofix"/>
	<f:if condition="{brokenLinks -> f:count()}">
		<f:then>
			<table class="table table-striped table-hover" id="brofix-broken-links-table">
				<thead>
				<tr>
					<th class="table-column-divider-end">
						<f:format.raw>{tableHeader.page.header}</f:format.raw>
						<f:if condition="{tableHeader.page.icon}">
							<core:icon identifier="{tableHeader.page.icon}"/>
						</f:if>
					</th>
					<th>{tableHeader.element.header}</th>
					<th>
						<f:format.raw>{tableHeader.type.header}</f:format.raw>
						<f:if condition="{tableHeader.type.icon}">
							<core:icon identifier="{tableHeader.type.icon}"/>
						</f:if>
					</th>
					<th class="table-column-divider-end">
						<f:format.raw>{tableHeader.last_check.header}</f:format.raw>
						<f:if condition="{tableHeader.last_check.icon}">
							<core:icon identifier="{tableHeader.last_check.icon}"/>
						</f:if>
					</th>
					<th colspan="2">
						<f:format.raw>{tableHeader.url.header}</f:format.raw>
						<f:if condition="{tableHeader.url.icon}">
							<core:icon identifier="{tableHeader.url.icon}"/>
						</f:if>
					</th>
					<th>
						<f:format.raw>{tableHeader.error.header}</f:format.raw>
						<f:if condition="{tableHeader.error.icon}">
							<core:icon identifier="{tableHeader.error.icon}"/>
						</f:if>
					</th>
					<th class="table-column-divider-end">
						<f:format.raw> {tableHeader.last_check_url.header}</f:format.raw>
						<f:if condition="{tableHeader.last_check_url.icon}">
							<core:icon identifier="{tableHeader.last_check_url.icon}"/>
						</f:if>
						<br/>(URL)
					<th>
						{tableHeader.action.header}
					</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{brokenLinks}" as="item">
					<f:if condition="{item.lastChecked}">
						<f:then>
							<tr style="background-color: #ace9ff">
						</f:then>
						<f:else>
							<tr>
						</f:else>
					</f:if>
					<td class="table-column-divider-end">
						<span
							title="{item.path -> f:format.raw()}">{item.pagetitle -> f:format.raw()} [{item.pageId}]</span>
					</td>
					<td>
						<f:if condition="{item.langIcon}">
							<core:icon identifier="{item.langIcon}"/>
						</f:if>
						{item.elementHeadline -> f:format.raw()} [{item.record_uid}]
					</td>
					<td class="mobile-optional">{item.elementIcon -> f:format.raw()}<span
						title="{item.table} {item.field}">{item.elementType}:<br/>{item.fieldName}</span></td>
					<td class="table-column-divider-end mobile-optional"
						title="{f:translate(key: 'list.info.freshness.{item.freshness}', extensionName: 'Brofix')}">
						<span class="freshness_{item.freshness}">{item.lastcheck}</span>
						<f:if condition="{item.freshness} == 'stale'>">
							<core:icon identifier="actions-document-synchronize"/>
						</f:if>
					</td>
					<td colspan="2">
						<f:if condition="{item.linktarget}">
							<f:then>
								<a href="{item.linktarget}" title="{item.link_title}" target="_blank" rel="noreferrer">{item.linktext}</a>
							</f:then>
							<f:else>
								<span title="{item.link_title}">{item.linktext}</span>
							</f:else>
						</f:if>
					</td>
					<td>{item.linkmessage -> f:format.raw()}</td>
					<td class="table-column-divider-end mobile-optional">{item.lastcheck_url}</td>
					<td>
						<a class="btn btn-primary" href="{item.editUrl}"
						   title="{f:translate(key: 'list.edit.field', extensionName: 'Brofix')}">
							<core:icon identifier="actions-open" size="small"/>
						</a>
						<f:be.link
							title="{f:translate(key: 'list.action.web_layout', extensionName:'Brofix')}"
							class="btn btn-default" route="web_layout" parameters="{id:item.pageId}">
							<core:icon identifier="actions-document-open"/>
						</f:be.link>
						<f:if condition="{item.recheckUrl}">
							<a title="{f:translate(key: 'list.action.recheckUrl', extensionName='Brofix')}"
							   class="btn btn-default" href="{item.recheckUrl}">
								<core:icon identifier="actions-synchronize"/>
							</a>
						</f:if>
						<f:if condition="{item.excludeUrl}">
							<a class="btn btn-default" href="{item.excludeUrl}"
							   title="{f:translate(key: 'list.action.excludeUrl', extensionName='Brofix')}">
								<core:icon identifier="mimetypes-x-exclude-link-target" size="small"/>
							</a>
						</f:if>
					</td>
					</tr>
				</f:for>
				</tbody>
			</table>
			<f:render partial="Pagination" arguments="{pagination: pagination, currentPage: currentPage, depth: depth, orderBy: orderBy}"/>
		</f:then>
	</f:if>
</f:section>

