services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Sypets\Brofix\:
    resource: '../Classes/*'

  Sypets\Brofix\Controller\BrofixModuleController:
    tags: ['backend.controller']

  Sypets\Brofix\LinkAnalyzer:
    public: true

  Sypets\Brofix\Repository\BrokenLinkRepository:
    public: true

  # EventListeners
  Sypets\Brofix\EventListener\CheckBrokenRteLinkEventListener:
    tags:
      - name: event.listener
        identifier: 'rte-check-link-external'
        event: TYPO3\CMS\Core\Html\Event\BrokenLinkAnalysisEvent
        method: 'checkExternalLink'
      - name: event.listener
        identifier: 'rte-check-link-to-page'
        event: TYPO3\CMS\Core\Html\Event\BrokenLinkAnalysisEvent
        method: 'checkPageLink'
      - name: event.listener
        identifier: 'rte-check-link-to-file'
        event: TYPO3\CMS\Core\Html\Event\BrokenLinkAnalysisEvent
        method: 'checkFileLink'

  # Commands
  Sypets\Brofix\Command\CheckLinksCommand:
    tags:
      - name: 'console.command'
        command: 'brofix:checklinks'
        description: 'Check for broken links'
        hidden: false
