<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!-- ###REPORT_TEMPLATE### -->
<html>
<body>

 <!-- ###PAGE_SECTION### -->
  Broken links for page(s): "###TITLE###" (Depth: ###DEPTH###)<br /><br/>

  Broken links (all): <b>###BROKENLINKCOUNT###</b><br />
  Broken links (page links): ###DB###<br />
  Broken links (file links): ###FILE###<br />
  Broken links (external links): ###EXTERNAL###<br />

  <br /> <br />
  Number of links checked: ###COUNT_LINKS_CHECKED###<br/>
  Number of links not checked (excluded): ###COUNT_EXCLUDE_LINKS###<br/>
  Total number of links: ###COUNT_LINKS###<br/>
  <br/>

  Percent broken links / checked links: ###PERCENT_BROKEN_LINKS###%<br/>
  Percent not checked links / total links: ###PERCENT_EXCLUDED_LINKS###%<br/>
  <br/>

  <br/>
  Number of pages checked: ###COUNT_PAGES### <br/>
  <br/>

 <!-- ###PAGE_SECTION### -->

</body>
</html>
<!-- ###REPORT_TEMPLATE### -->
